.table{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.card{
    padding: 10px;
    display: flex;

    align-items: center;
    gap: 30px;
    outline: 2px solid tomato;
}